@charset "UTF-8";
:root {
  --name-text: #212121;
  --text-color: #757575;
  --section-name: #FFFFFF;
  --color-button-logo: #2196F3;
  --logo-color: #000000;
  --section-background-color: #2F303A;
  --footer-text-section: #FFFFFF;
  --background-color-header: #ECECEC;
  --background-color: #F5F4FA;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 470px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

header {
  padding: 21px 0px 28px 0px;
}

.navigation-information {
  display: flex;
  align-items: center;
}

/* logotype */
.logotype {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  color: var(--color-button-logo);
}

.logotype span {
  color: var(--logo-color);
}

.navigation {
  display: flex;
  margin-left: 162px;
  /* position: relative; */
}

/* navigation and contacs */
.navigation-list {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
  color: var(--name-text);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list:hover {
  color: var(--color-button-logo);
}

/* .nav-list-item{
    position: absolute;
    overflow: hidden;
} */
.navigation-list::after {
  content: "";
  display: block;
  margin-top: 30px;
  position: absolute;
  /* bottom: 0;
  left: 0; */
  /* варіант 1 */
  transform: scale(0);
  transition-property: transform, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
  /* варіант 2 */
  /* transform: translate(-100%);

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  transition-delay: 0.5s; */
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-button-logo);
}

.navigation-list:hover::after {
  transform: scale(1);
  /* варіан 2 */
  /* transform: translate(0); */
}

.navigation-contacts {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-top: 2px;
  margin-left: 134px;
  color: var(--text-color);
}

.navigation-contacts:hover {
  color: var(--color-button-logo);
}

.section-hero {
  padding: 200px 0px;
  background-image: url(/main-img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background: url(./main-img/background.jpg) center / cover no-repeat; */
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: url(/main-img/background.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    background-image: url(/main-img/background.jpg);
  }
}

.content {
  text-align: center;
}

.hero-head {
  width: 360px;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--footer-text-section);
}
@media screen and (min-width: 1200px) {
  .hero-head {
    width: 696px;
  }
}

.hero-button {
  /* display: flex; */
  width: 200px;
  height: 50px;
  width: 216px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background: var(--color-button-logo);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero-button {
    width: 216px;
    height: 50px;
  }
}

.hero-button span {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  text-align: center;
  color: var(--footer-text-section);
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--section-name);
  transform: translate(-50%, -50%);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 18px;
  height: 18px;
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 8px;
}

.button-close:hover {
  fill: #2196F3;
}

.title-modal {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 12px;
  color: var(--name-text);
}

.input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.input:hover {
  border-color: #2196F3;
}

.div-contact {
  position: relative;
}

.div-contact:hover .person {
  fill: #2196F3;
}

.textrea:hover {
  border-color: #2196F3;
}

.label {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 40px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 5px;
  color: #757575;
}

.textrea {
  width: 448px;
  height: 120px;
  outline: none;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

[placeholder="Введіть текст"] {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.person {
  width: 18px;
  height: 18px;
  position: absolute;
  margin-top: 10px;
  margin-left: 11px;
  /* top: 11px; */
  /* left: 12px; */
}

.div-political {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-modal {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  padding-left: 8px;
  margin-bottom: 30px;
  color: #757575;
}

[type=checkbox] {
  position: relative;
  bottom: 15px;
}

.politica-modal {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.button-push {
  border-radius: 4px;
  background: #2196F3;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-push > span {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  cursor: pointer;
  text-align: center;
  color: #FFF;
}

.information-section {
  padding: 94px 0px;
}

@media screen and (min-width: 470px) {
  .list-text {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .list-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .list-text {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 470px) {
  .list-information:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list-information:not(:last-child) {
    margin-right: 30px;
  }
}

.list-information::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 470px) {
  .list-information::before {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .list-information::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .list-information::before {
    width: 270px;
  }
}

.antenna::before {
  content: "";
  background-image: url(/main-img/antenna.svg);
}

.clock::before {
  background-image: url(/main-img/clock.svg);
}

.diagram::before {
  background-image: url(/main-img/diagram.svg);
}

.astronaut::before {
  background-image: url(/main-img/astronaut.svg);
}

.head-information {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--name-text);
}
@media screen and (min-width: 470px) {
  .head-information {
    width: 270px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .head-information {
    margin-left: -60px;
  }
}

.text-information {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: var(--text-color);
}
@media screen and (min-width: 470px) {
  .text-information {
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .text-information {
    width: 354px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .text-information {
    width: 270px;
    height: 72px;
  }
}

.list-box {
  padding-top: 100px;
}
@media screen and (min-width: 470px) {
  .list-box {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .list-box {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .list-box {
    display: block;
  }
}

.name-box {
  color: var(--name-text);
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
  padding: 0px 0px 50px 0px;
}

.box-card {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.box-card > li:not(:last-child) {
  margin-right: 30px;
}

.box-photo {
  width: 370px;
  height: 300px;
}

.item-card {
  position: relative;
}

.text-box {
  position: absolute;
  bottom: 4px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.text-img {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 25px;
  opacity: 1;
}

.section-logotype-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  color: var(--name-text);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .clients {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-bottom: 50px;
  }
}

.list-clients-logotype {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .list-clients-logotype {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .list-clients-logotype {
    display: flex;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .item-logotype:not(:last-child) {
    margin-right: 30px;
  }
}

.icon {
  line-height: 60px;
  font-size: 60px;
  color: #AFB1B8;
}

.item-logotype {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}
@media screen and (min-width: 470px) {
  .item-logotype {
    padding: 16px 52px;
  }
}
@media screen and (min-width: 768px) {
  .item-logotype {
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .item-logotype {
    padding: 16px 32px;
  }
}

.icon:hover {
  transition-property: transition-duration, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.5s;
  color: #2196F3;
}

/* .icon:hover .item-logotype{
    border-color: #2196F3;
} */
.item-logotype:hover .icon {
  border-color: #2196F3;
}

.teame {
  background: var(--background-color);
  /* background: linear-gradient(21deg, rgba(245,244,250,1) 20%, rgba(0,0,0,1) 90%); */
}

.team_1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 94px 0px 80px 0px;
  color: var(--name-text);
}

.teame_card {
  justify-content: center;
  padding: 0px 0px 94px 0px;
}
@media screen and (min-width: 470px) {
  .teame_card {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .teame_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .teame_card {
    display: flex;
    flex-direction: row;
  }
}

.our_team {
  background: var(--section-name);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 470px) {
  .our_team {
    width: 450px;
    height: 622px;
  }
}
@media screen and (min-width: 768px) {
  .our_team {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .our_team {
    width: 270px;
    height: 428px;
  }
}

@media screen and (min-width: 470px) {
  .our_team:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our_team:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our_team:not(:last-child) {
    margin-right: 30px;
  }
}

.foto {
  border-radius: 0px;
  margin-bottom: 30px;
}
@media screen and (min-width: 470px) {
  .foto {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .foto {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .foto {
    width: 270px;
    height: 260px;
  }
}

.team_member {
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-text);
  margin-bottom: 10px;
}

.information {
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 29px;
  color: var(--text-color);
}

.list-network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-network:not(:last-child) {
  margin-right: 34px;
}

.network-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  cursor: pointer;
}
.network-svg:hover {
  fill: #2196F3;
}

.footer {
  height: auto;
  background: var(--section-background-color);
  padding: 60px 0px;
}

.name_footer {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--color-button-logo);
}

.logo_footer {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--footer-text-section);
}

address > p {
  width: 231px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 20px 0px 20px 0px;
  color: var(--section-name);
}

.footer-information > li {
  margin-bottom: 20px;
}

.dictates {
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}