* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --name-text: #212121;
    --text-color: #757575;
    --section-name: #FFFFFF;
    --color-button-logo: #2196F3;
    --logo-color: #000000;
    --section-background-color: #2F303A;
    --footer-text-section: #FFFFFF;
    --background-color-header: #ECECEC;
    --background-color: #F5F4FA;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    padding: 21px 0px 28px 0px;
}

.navigation-information {
    display: flex;
    align-items: center;
}

/* logotype */
.logotype {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    color: var(--color-button-logo);
}

.logotype span {
    color: var(--logo-color);
}

.navigation {
    display: flex;
    margin-left: 162px;
}

/* navigation and contacs */
.navigation-list {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-right: 50px;
    color: var(--name-text);
}

.navigation-list:hover {
    color: var(--color-button-logo);
}

.navigation-contacts {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-left: 134px;
    color: var(--text-color);
}

.navigation-contacts:hover {
    color: var(--color-button-logo);
}

.section-hero {
    padding: 200px 0px;
    background-image: url(./main-img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    /* background: url(./main-img/background.jpg) center / cover no-repeat; */
}

.content {
    text-align: center;
}

.hero-head {
    width: 696px;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--footer-text-section);
}

.hero-button {
    /* display: flex; */
    width: 216px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background: var(--color-button-logo);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.hero-button span {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    text-align: center;
    color: var(--footer-text-section);
}

.information-section {
    padding: 94px 0px;
}

.list-text {
    display: flex;
}

.list-information::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;

}

.antenna::before {
    content: "";
    background-image: url(./main-img/antenna.svg);
}

.clock::before {
    background-image: url(./main-img/clock.svg);
}

.diagram::before {
    background-image: url(./main-img/diagram.svg);
}

.astronaut::before {
    background-image: url(./main-img/astronaut.svg);
}

.list-information:not(:last-child) {
    margin-right: 30px;
}

.head-information {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--name-text);
}

.text-information {
    width: 270px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    color: var(--text-color);
}

.list-box {
    padding-top: 100px;
}

.name-box {
    color: var(--name-text);
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 1.08px;
    padding: 0px 0px 50px 0px;
}

.box-card {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.box-card>li:not(:last-child) {
    margin-right: 30px;
}
.box-photo {
    width: 370px;
    height: 300px;
}
.item-card{
    position: relative;
}
.text-box{
    position: absolute;
    bottom: 4px;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);
}
.text-img{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 25px;
    opacity: 1;
}







/* section clients logotype */
.section-logotype-clients{
    padding-bottom: 94px;
}
.clients{
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
color: var(--name-text);
}
.list-clients-logotype{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-logotype:not(:last-child){
    margin-right: 30px;
}

.icon{
line-height: 60px;
font-size: 60px;
color: #AFB1B8;
}
.item-logotype{
    padding: 16px 32px;
    border-radius: 4px;
border: 1px solid #AFB1B8;
}
.icon:hover{
    color: #2196F3;
}
/* .icon:hover .item-logotype{
    border-color: #2196F3;
} */
.item-logotype:hover .icon{
    border-color: #2196F3;
}





/* .item-logotype:hover{
border-color: #2196F3;
} */
/* .item-logotype:not(:last-child){
    margin-right: 30px;
}
.item-logotype{
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
}
.item-logotype-clients{
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}
.item-logotype:hover{
    border-color: var(--color-button-logo);
    cursor: pointer;
}
.item-logotype:hover .item-logotype-clients{
    border-color: var(--color-button-logo);
    fill: var(--color-button-logo);
    cursor: pointer;
} */












.footer1{
    height: auto;
    background: var(--section-background-color);
    padding: 60px 0px;
    }
    .name_footer{
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-button-logo);
    }
    
    .logo_footer{
        width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--footer-text-section);
    }
    address>p{
    width: 231px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: 20px 0px 20px 0px;
    color: var(--section-name);
    }
    .footer-information>li{
        margin-bottom: 20px;
    }
    .dictates{
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }