*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}
ul,ol{
    list-style: none;
}
:root{
    
    --name-text:#212121;
    --text-color: #757575;
    --section-name:#FFFFFF; 
    --color-button-logo: #2196F3;
    --logo-color: #000000;
    --section-background-color:#2F303A;
    --footer-text-section: #FFFFFF;
    --background-color-header: #ECECEC;
    --background-color: #F5F4FA;
}

.hero{  
background: var(--section-background-color);
text-align: center;
padding: 212px 0px ;
}
.hero_heading{
    width: 696px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
margin: 0 auto;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 35px;
    color: var(--section-name);
}

.hero_button{
width: 216px;
height: 50px;
background-color: var(--color-button-logo);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
outline-style: none;
border: none;
color: var(--section-name);
}

.hero_button--text{
    width: 152px;
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: var(--section-name);
}

/*  Our team */

/* Опис секції команда */
.teame{
    height: 500px;
    background: var(--background-color);
    } 
    .team_1{
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center; 
    letter-spacing: 0.03em;
    color: var(--name-text);
    }
    /* Стилювання карточек */
    .teame_card{
        display: flex;
        gap: 30px;
    }
    .our_team{
        width: 270px;
    height: 368px;
    background: var(--section-name);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 px 0px 4px 4px;
    }
    
    .foto{
    width: 270px;
    height: 260px;
    border-radius: 0px;

    }
    .team_member{
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--name-text);
    margin-top: 20px;
    }
    
    .information{
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    padding-top: 5px;
    
    }


    /* Footer-підвал сайту  */
    .footer1{
        height: 252px;
        background: var(--section-background-color);
        padding-top: 60px;
        }
        .container-footer{
            max-width: 1200px;
            margin: 0 auto;
            padding: 0;
        }
        .name_footer{
        width: 145px;
        height: 31px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--color-button-logo);
        }
        
        .logo_footer{
            width: 145px;
        height: 31px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--footer-text-section);
        }
        address>p{
        width: 231px;
        height: 21px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin: 20px 0px 20px 0px;
        color: var(--section-name);
        }
        .footer-information>li{
            margin-bottom: 20px;
        }
        .dictates{
        height: 21px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        }