*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;

    animation-name: boxAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    position: absolute;
}

@keyframes boxAnimation{

    0%{
        background-color: red;
        top: 10%;
        left: 10%;
    }
    25%{
        background-color: blue;
        top: 10%;
        left: 20%;
    }
    50%{
        background-color: green;
        top: 20%;
        left: 20%;
    }
    75%{
        background-color: yellow;
        top: 20%;
        left: 10%;
    }
    100%{
        background-color: red;
        top: 10%;
        left: 10%;
    }
}

