*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.item-box{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
}
.box1{
    width: 250px;
    height: 250px;
    background-color: brown;
}
.box2{
    position: absolute;
    z-index: 1;
    top: 68%;
    left: 13%;
    width: 250px;
    height: 250px;
    background-color: darkslateblue;
}
.box3{
    position: absolute;
    top: 123%;
    left: 27%;
    width: 250px;
    height: 250px;
    background-color: lightgreen;
}