header {
    padding: 21px 0px 28px 0px;
}

.navigation-information {
    display: flex;
    align-items: center;
}

/* logotype */
.logotype {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    color: var(--color-button-logo);
}

.logotype span {
    color: var(--logo-color);
}

.navigation {
    display: flex;
    margin-left: 162px;
    /* position: relative; */
}

/* navigation and contacs */
.navigation-list {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    position: relative;
    color: var(--name-text);
}
.nav-list-item:not(:last-child){
    margin-right: 50px;
}
.navigation-list:hover {
    color: var(--color-button-logo);
}
/* .nav-list-item{
    position: absolute;
    overflow: hidden;
} */
.navigation-list::after{
    content: "";
    display: block;
    margin-top: 30px;
    position: absolute;
    /* bottom: 0;
    left: 0; */

    /* варіант 1 */
    transform: scale(0);

    transition-property: transform, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;

    /* варіант 2 */
    /* transform: translate(-100%);
    
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-delay: 0.5s; */

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-button-logo);
}
.navigation-list:hover::after{
transform: scale(1);

/* варіан 2 */
/* transform: translate(0); */
}

.navigation-contacts {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-top: 2px;
    margin-left: 134px;
    color: var(--text-color);
}

.navigation-contacts:hover {
    color: var(--color-button-logo);
}