.information-section {
    padding: 94px 0px;
}

.list-text {
    @media screen and (min-width:470px){
        flex-direction: column;
    }
    @media screen and (min-width:768px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width:1200px){
        display: flex;
        flex-direction: row;
    }
}
.list-information:not(:last-child){
    @media screen and (min-width: 470px){
       margin-bottom: 30px;
    }
    @media screen and (min-width:1200px){
        margin-right: 30px;
    }
}
.list-information::before {
    @media screen and (min-width: 470px){
        width: 450px;
        height: 120px;

    }
    @media screen and (min-width:768px){
        width: 354px;
    }
    @media screen and (min-width:1200px){
        width: 270px;
    }
    content: "";
    display: block;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;

}

.antenna::before {
    content: "";
    background-image: url(/main-img/antenna.svg);
}

.clock::before {
    background-image: url(/main-img/clock.svg);
}

.diagram::before {
    background-image: url(/main-img/diagram.svg);
}

.astronaut::before {
    background-image: url(/main-img/astronaut.svg);
}

// .list-information:not(:last-child) {
//     margin-right: 30px;
// }

.head-information {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--name-text);

    @media screen  and (min-width:470px){
        width: 270px;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    @media screen and (min-width:768px){
    // position: relative;
    // right: 110px;
    margin-left: -60px;
    }

}

.text-information {
    @media screen and (min-width:470px){
        width: 450px;
        height: 50px;
    }
    @media screen and (min-width:768px){
        width: 354px;
        height: 50px;
    }
    @media screen and (min-width:1200px){
        width: 270px;
        height: 72px;
    }
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    color: var(--text-color);
}

.list-box {
    @media screen and (min-width:470px){
        display: none;
    }
    @media screen and (min-width:768px) {
        display: none;
    }
    @media screen and (min-width:1200px){
        display: block;
    }
    padding-top: 100px;
}
.name-box {
    color: var(--name-text);
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 1.08px;
    padding: 0px 0px 50px 0px;
}

.box-card {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.box-card>li:not(:last-child) {
    margin-right: 30px;
}
.box-photo {
    width: 370px;
    height: 300px;
}
.item-card{
    position: relative;
}
.text-box{
    position: absolute;
    bottom: 4px;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);
}
.text-img{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 25px;
    opacity: 1;
}








