.section-hero {

    
    
    // @media screen and (min-width:768px){
    //     background-image: url(/main-img/background.jpg);
    // }
    // @media screen and (min-width:1200px){
    //     background-image: url(/main-img/background.jpg);
    // }
    /* background: url(./main-img/background.jpg) center / cover no-repeat; */
    padding: 118px 0;
    background: rgba(47, 48, 58, 0.40);
    background-image: url(/main-img/mobileHero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width:768px){
        background-image: url(/main-img/tabletHero.webp);
    }
    @media screen and (min-width:1200px){
        background-image: url(/main-img/dekstopHero.jpg);
        padding: 200px 0px;
    }
}

.content {
    text-align: center;
}

.hero-head {
    // width: 360px;
    // font-family: Roboto;
    // font-size: 44px;
    // font-style: normal;
    // font-weight: 900;
    // line-height: 60px;
    // letter-spacing: 2.64px;
    // text-transform: uppercase;
    // text-align: center;
    width: 360px;
    margin: 0 auto 30px;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin: 0 auto;
    // margin-bottom: 30px;
    color: var(--footer-text-section);

    @media screen and (min-width:1200px){
        width: 696px;
    font-size: 44px;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    }
}

.hero-button {
    /* display: flex; */
    width: 200px;
    height: 50px;
    // width: 216px;
    // height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background: var(--color-button-logo);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    @media screen and (min-width:1200px){
        width: 216px;
        height: 50px;
    }

}

.hero-button span {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    text-align: center;
    color: var(--footer-text-section);
}


.no-scroll{
    overflow: hidden; 
}
.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.backdrop.is-hidden{
opacity: 0;
pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
height: 581px;
background-color: var(--section-name);
transform: translate(-50%, -50%);
}
.button-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 18px;
height: 18px;
padding: 1px;
border: 1px solid rgba(0, 0, 0, 0.10);
border-radius: 8px;
cursor: pointer;
margin-bottom: 8px;
}
.button-close:hover{
    fill: #2196F3;
}
.title-modal{
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
text-align: center;
margin-bottom: 12px;
color: var(--name-text);
}

.input{
    width: 448px;
height: 40px;
border-radius: 4px;
margin-bottom: 10px;
padding-left: 35px;
outline: none;
border: 1px solid rgba(33, 33, 33, 0.20);

}
.input:hover{
    border-color: #2196F3;
}
.div-contact{
    position: relative;
}
.div-contact:hover .person{
    fill: #2196F3;
}
.textrea:hover{
    border-color: #2196F3;
}
.label{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 40px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 5px;
    color: #757575;
}
.textrea{
    width: 448px;
    height: 120px;
    outline: none;
    border-radius: 4px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}
[placeholder="Введіть текст"]{
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
padding-top: 12px;
padding-left: 16px;
color: rgba(117, 117, 117, 0.50);
}
.person{
    width: 18px;
height: 18px;
position: absolute;
margin-top: 10px;
margin-left: 11px;
/* top: 11px; */
/* left: 12px; */
}
.div-political{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-modal{
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
padding-left: 8px;
margin-bottom: 30px;
color: #757575;
}
[type="checkbox"]{
    position: relative;
    bottom: 15px;
}
.politica-modal{
    color: #2196F3;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
}
.button-push{
    border-radius: 4px;
background: #2196F3;
padding: 10px 52px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
.button-push>span{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
cursor: pointer;
text-align: center;
color: #FFF;
}

