.section-logotype-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients{
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    color: var(--name-text);
    margin-bottom: 30px;
    @media screen and (min-width:768px){
        margin-bottom: 30px;
    }
    @media screen and (min-width:1200px){
        margin-bottom: 50px;
    }
}
.list-clients-logotype{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media screen and (min-width:768px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width:1200px){
        display: flex;
        gap: 0;
    }
}
.item-logotype:not(:last-child){
    @media screen and (min-width:1200px){
        margin-right: 30px;
    }
}

.icon{
line-height: 60px;
font-size: 60px;
color: #AFB1B8;
}
.item-logotype{
    border-radius: 4px;
    border: 1px solid #AFB1B8;
@media screen and (min-width:470px){
    padding: 16px 52px;
}
@media screen and (min-width:768px){
    padding: 16px 60px;
}
@media screen and (min-width:1200px){
    padding: 16px 32px;
}
}
.icon:hover{
    transition-property: transition-duration, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.5s;

    color: #2196F3;
}
/* .icon:hover .item-logotype{
    border-color: #2196F3;
} */
.item-logotype:hover .icon{
    border-color: #2196F3;
}
