*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root{
    --name-text:#212121;
    --text-color: #757575;
    --section-name:#FFFFFF; 
    --color-button-logo: #2196F3;
    --logo-color: #000000;
    --section-background-color:#2F303A;
    --footer-text-section: #FFFFFF;
    --background-color-header: #ECECEC;
    --background-color: #F5F4FA;
    --color-cars:#EEEEEE;
}
body{
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.container{
    max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* styles header */
header{
    padding: 21px 0px 28px 0px;
    border-bottom: 1px solid var(--color-cars);
}
.navigation-information{
    display: flex;
    align-items: center;
}
/* logotype */
.logotype{
    font-family: Raleway; 
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
color: var(--color-button-logo);
}
.logotype span{
    color: var(--logo-color);
}
.navigation{
    display: flex;
    margin-left: 162px;
}
/* navigation and contacs */
.navigation-list{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
margin-right: 50px;
color: var(--name-text);
}
.navigation-list:hover{
    color: var(--color-button-logo);
}
.navigation-contacts{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
margin-left: 134px;
color: var(--text-color);
}
.navigation-contacts:hover{
    color: var(--color-button-logo);
}
/* styling hero section (button and cars) */
.section-portfolio-cards{
    padding: 94px 0px;
}
.list-button{
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 50px;
}
.button{
    height: 38px;
    border-radius: 4px;
background: var(--background-color);
cursor: pointer;
  padding: 6px 22px;
}
.button:hover{
    background-color: var(--color-button-logo);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.button span{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
    text-align: center;
    color: var(--name-text);
}
.button:hover span{
    color: var(--footer-text-section);
}
/* styling hero section cards */
.portfolio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* можна записати скорочено як gap: 30px; */
    column-gap: 30px;
    row-gap: 30px;
}
.card{
    width: 370px;
    height: 404px;
    border: 1px solid var(--color-cars);
background: var(--section-name);
}
.card-name{
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
margin: 20px 0px 3px 24px;
color: var(--name-text);
}
.card-text{
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
margin: 0px 0px 20px 24px;
color: var(--text-color);
}

/* styling footer */
.footer1{
    height: 100%;
    background: var(--section-background-color);
    padding: 60px 0px;
    }
    .name_footer{
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-button-logo);
    }
    .logo_footer{
        width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--footer-text-section);
    }
    address>p{
    width: 231px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: 20px 0px 20px 0px;
    color: var(--section-name);
    }
    .footer-information>li{
        margin-bottom: 20px;
    }
    .dictates{
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }