:root {
    --name-text: #212121;
    --text-color: #757575;
    --section-name: #FFFFFF;
    --color-button-logo: #2196F3;
    --logo-color: #000000;
    --section-background-color: #2F303A;
    --footer-text-section: #FFFFFF;
    --background-color-header: #ECECEC;
    --background-color: #F5F4FA;
}